<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
  <header>
  <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="http://localhost:3000/gossips">Accueil</a>
        <a class="navbar-brand" href="http://localhost:3000/gossips/new">Rédiger un potin</a>
        <a class="navbar-brand" href="http://localhost:3000/team">Notre Team</a>
        <a class="navbar-brand" href="http://localhost:3000/contact">Contact</a>
        <% if session[:user_id].nil?%>
        <a class="navbar-brand" href="http://localhost:3000/users/new">S'inscrire</a>
        <a class="navbar-brand" href="http://localhost:3000/sessions/new">Se connecter</a>
        <% else%>
        <button>
        <%= link_to "Se déconnecter", sessions_path(session.id), method: :delete %>
        </button>
        <% end %>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
